<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606743486377-tiksquai9nk7njupnde1kuec54mlca00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606743486377-tiksquai9nk7njupnde1kuec54mlca00</string>
	<key>API_KEY</key>
	<string>AIzaSyBEw5gITbabIZ_AZrP8Xf22w-9r1QWTyuM</string>
	<key>GCM_SENDER_ID</key>
	<string>606743486377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.felipeforcinetti.LoginViewCode</string>
	<key>PROJECT_ID</key>
	<string>primeiro-projeto-viewcode</string>
	<key>STORAGE_BUCKET</key>
	<string>primeiro-projeto-viewcode.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606743486377:ios:b8592a47e5f74af17c2eb8</string>
</dict>
</plist>